<div id="contenido">
<p>
  <strong>Nombre:</strong>
  <%= @lugar.nombre %>
</p>
 
<p>
  <strong>Dirección:</strong>
  <%= @lugar.direccion %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @lugar.descripcion %>
</p>

<p>
  <strong>Clasificación:</strong>
  <%= @lugar.clasificacion %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @lugar.contacto %>
</p>

<div id="mapaLugar">
<%= map(
    :center => {
      :latlng => @lugar.marker[:latlng],
      :zoom => 18
    }, 
    :markers => [@lugar.marker]
    )%>

</div>
</div>



<%= link_to 'Volver', lugares_path %>