
<p>
  <strong>Nombre:</strong>
  <%= @lugar.nombre %>
</p>
 
<p>
  <strong>Dirección:</strong>
  <%= @lugar.direccion %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @lugar.descripcion %>
</p>

<p>
  <strong>Clasificación:</strong>
  <%= @lugar.clasificacion %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @lugar.contacto %>
</p>

<p>
  <strong>latlng:</strong>
  <%= @lugar.marker %>
</p>


<%= link_to 'Volver', lugares_path %>