<div id="botonera2">
  <%= form_tag '/', method: 'post' do %>
  <ul>
    <% @clasificaciones.each do |clasificacion| -%>
      <li>
        <%= check_box_tag clasificacion, 'si', @clasificacionesFiltradas.include?(clasificacion) %> <%= clasificacion %> 
      </li>
    <% end %>
  </ul>
  <%= submit_tag "Filtrar"%>
  <% end %>
</div>

  <%= map(
    :center => {
      :latlng => [-34.6752, -58.4295],
      :zoom => 16
    }, 
    :markers => @lugares.map { |l| l.marker }
    )%>

<div class="mapa">
  <%= link_to 'Nuevo Lugar', new_lugar_path, class: "boton-nuevo" %>
</div>