

<div class="">
  <div id="calendar"> </div>
  <div class="proximos-eventos">   
    <h2>Próximos eventos</h2>   
    <ul>
      <% @eventos.each do |evento| %>
        <li>
          <%= evento.nombre %>
          <%= I18n.localize(evento.fecha, format: "%A %d de %B") %>
          <%= evento.hora ? evento.hora.strftime("%H:%M") : '' %>
          <%= link_to 'Ver', evento_path(evento) %>
        </li>
      <% end %>  
    </ul>
    <%= link_to 'Nuevo Evento', new_evento_path, class: "boton-nuevo" %>
  </div>  
</div>


<script>
  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: '',
    },
    locale: 'es',
    events: <%= @eventos.map { |m| {title: m.nombre, start: m.fecha } }.to_json.html_safe %>,
    height: 480,
    aspectRatio: 0.2,
    buttonIcons: false, // show the prev/next text
    navLinks: true, // can click day/week names to navigate views
    editable: true,
    eventLimit: true // allow "more" link when too many events
  });
</script>


