<h2>Listado de eventos</h2>


<%= link_to 'Nuevo Evento', new_evento_path %>
 
  <table id="tabla" border="0" cellspacing="0" >
  <tr>
    <th>Nombre</th>
    <th>Fecha</th>
    <th>Ubicación</th>
    <th>Hora</th>
    <th>Descripción</th>
    <th></th>
  </tr>
 
  <% @eventos.each do |evento| %>
    <tr>
      <td><%= evento.nombre %></td>
      <td><%= I18n.localize(evento.fecha, format: "%A %d de %B, %Y") %></td>
      <td><%= evento.ubicacion %></td>
      <td><%= evento.hora ? evento.hora.strftime("%H:%M") : '' %></td>
      <td><%= evento.descripcion %></td>
      <td><%= link_to 'Ver', evento_path(evento) %></td>
    </tr>
  <% end %>
</table>
