<h1 class="nuevo">Nuevo Evento</h1>

<div class="formulario">
<%= form_for :evento, url: eventos_path do |f| %>
  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </p>

  <p>
    <%= f.label :fecha %><br>
    <%= f.datetime_field :fecha %>
  </p>
 
  <p>
    <%= f.label :ubicacion %><br>
    <%= f.text_area :ubicacion %>
  </p>
 
  <p>
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </p>

  <p>
    <%= f.submit 'Guardar Evento' %>
  </p>

<% end %>

<div class="volver"><%= link_to 'Volver', eventos_path %></div>

</div>


