<p>
  <strong>Nombre:</strong>
  <%= @evento.nombre %>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @evento.fecha %>
</p>
 
<p>
  <strong>Ubicacion:</strong>
  <%= @evento.ubicacion %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @evento.hora %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @evento.descripcion %>
</p>

<%= link_to 'Volver', eventos_path %>