 <% content_for :og_tags do %>
  <meta property="og:title" content="<%= @evento.nombre %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="https://static1.ideal.es/www/multimedia/201810/22/media/cortadas/calendario-laboral-festivos-puentes-kaIC-U601318058614N6E-624x385@Ideal.jpg" />
  <meta property="og:image:width" content= "414px" />
  <meta property="og:image:height" content="255px" />
  <meta property="og:description" content= "¡Entrá para conocer más sobre las actividades de tu barrio!" />
  <meta property="fb:app_id" content= "2092342564161138"/>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

   <div class=contenido2>
     <p class="nombre">
       <%= @evento.nombre %>
     </p>

     <p class="fecha">
       <%= I18n.localize(@evento.fecha, format: "%A %d de %B del %Y / %H:%Mhs") %>
     </p>

     <p class="ubicacion">
       <%= @evento.ubicacion %>
     </p>

     <p class="descripcion">
       <%= @evento.descripcion %>
     </p>

     <div id="mapaLugar">
     <%= map(
         :center => {
           :latlng => @evento.marker[:latlng],
           :zoom => 18
         }, 
         :markers => [@evento.marker]
         )%>

     </div>
   </div>

<div class="volver2"><%= link_to 'Volver', eventos_path %></div>
<div class="botones-compartir">
  <div class="div-compartir-whatsapp"> 
    <a class="compartir" href="<%= controller.mensaje_de_whatsapp %>" data-action="share/whatsapp/share">
      <img border="0" alt="W3Schools" src="/logo_whatsapp.png" width="20" height="20"> 
      <div>Compartir</div>
    </a>
  </div>

  <div class="fb-share-button" data-href="<%= request.original_url %>" data-layout="button" data-size="large" data-mobile-iframe="true">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore" >Compartir</a>
  </div>
</div>
