
<p class="nombre">
  <strong>Nombre:</strong>
  <%= @evento.nombre %>
</p>

<p class="fecha">
  <strong>Fecha:</strong>
  <%= I18n.localize(@evento.fecha, format: "%A %d de %B del %Y a las %H:%Mhs") %>
</p>
 
<p class="ubicacion">
  <strong>Ubicación:</strong>
  <%= @evento.ubicacion %>
</p>

<p class="descripcion">
  <strong>Descripción:</strong>
  <%= @evento.descripcion %>
</p>

<a class="compartir" href="<%= controller.mensaje_de_whatsapp %>" data-action="share/whatsapp/share">Compartir en WhatsApp <img border="0" alt="W3Schools" src="/logo_whatsapp.png" width="20" height="20"></a>

<div class="volver2"><%= link_to 'Volver', eventos_path %></div>