
<p>
  <strong>Nombre:</strong>
  <%= @evento.nombre %>
</p>
<p>
  <strong>Fecha:</strong>
  <%= I18n.localize(@evento.fecha, format: "%A %d de %B, %Y") %>
</p>
 
<p>
  <strong>Ubicacion:</strong>
  <%= @evento.ubicacion %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @evento.hora ? @evento.hora.strftime("%H:%M") : '' %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @evento.descripcion %>
</p>

<%= link_to 'Volver', eventos_path %>