<!DOCTYPE html>
<html>
  <head>
    <title>Villa Jardín</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">


  </head>

  <body>
    <div id="titulo">
        <h1>Villa Jardín</h1>
    </div>
    <div id="clima">
<div id="TT_yi1ALhYxd88xW2NUTfzjjDzzzCaUMYc2rY1t1ZiIKEz"></div>
<script type="text/javascript" src="https://www.tutiempo.net/s-widget/l_yi1ALhYxd88xW2NUTfzjjDzzzCaUMYc2rY1t1ZiIKEz"></script>
    </div>
    <div id="fecha">
        <h2>
            <%=
                Time.now.strftime("%a %d de %m, %Y")
                %>
        </h2>
                
    </div>
    <div id="menu">
        <div id="botonera">
            <ul>
                <li>
                    <%= link_to 'Nuestro barrio', root_path %>
                </li>                  
                <li>
                    <%= link_to 'Eventos', eventos_path %>
                </li>
                <li>
                    <%= link_to 'Info Jardín', 'infojardin/index' %>
                </li>
                <li>
                    <%= link_to 'Contacto', 'contacto/index'%>
                </li>  
            </ul>
        </div>
    </div>

    <div id="contenido">
        <%= yield %>
    </div>

    <div id="footer">
        <br>
        <h3>
        <img src="<%= image_url('gmail.png') %>" style="max-width:2.5%;height: auto">
        </img>
        <%= link_to 'redvillajardin@gmail.com', href= "mailto:redvillajardin@gmail.com?__xts__="%></h3>
        <br>
        <h3> 
        <img src="<%= image_url('facebook.png') %>" style="max-width:2%;height: auto">
        </img>
        <%= link_to 'Red de Villa Jardin', href= "https://www.facebook.com/redvj/", target:"_blank"%>
        </h3>
    </div>    
  </body>
</html>
